body {
    height:100%;
    margin:0;
    overflow: auto;
    display: flex;
    box-sizing: border-box;
    flex-flow: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}


/* --css for product information skeleton */
.productinfocontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;    
}

.productInfoLeft {
    width: 60vw;
    justify-content: center;
    display: flex;
    flex: 1;
    min-width: 40vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.productInfoRight {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: space-evenly
}

.productInfoImg {
    padding: 0;
    width: -webkit-fill-available;
    object-fit: contain;
}

.productInfoName {
    margin-bottom: 2vh;
    margin-right: 10em;
    border-bottom: 1px solid gray;
    padding-bottom: 3vh;
}

.productInfoExplain {
    margin-right: 20em;
    margin-bottom: 22vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid gray;
}

.productInfoAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --End of css for product information skeleton-- */

/* --css of product boxes -- */

#productboxescontainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productboxcontainer {
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
    margin: 3vw 3vw 3vw 3vw;
}

.productinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addtocartbutton {
    width: 3vw;
    background-color: white;  
    border: none;  
    color: black;  
    align-self: center;
}

.addtocartbutton:hover {
    Background-color: #61892f;
    border-radius: 12px;
}
/* -end of css for product boxes-- */

/* --css for header and banner--*/

.bannerimg {
    width: 100vw;
    overflow: hidden;
    height: 19vw;
}


#mainbanner {
    display: flex;
    flex: 1;
    width: 150vw;
}

/* --end of css for header and banner-- */

/* --css for main content container-- */

#shopnavbuttons {
    font-size: 24px;
    margin-left: .5em; 
    margin-top: 1em;  
    margin-right: .5em;  
    background-color: #80F30C;
    color: black;  
    border: none;
    border-radius: 12px;  
}

#outercontentbox {
    background-color: white;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
    min-height: 80vh;
    overflow:auto;
}

#contentcontainer {
    background-color: white;
    flex: 1;
    overflow-x: hidden;
    flex-wrap: wrap;
}

/* --end of content for main content container-- */

/* --css for shop container-- */

#shopnavbuttons:hover {
    Background-color: #168200;
    border-radius: 12px;
}
#shopnavbuttons:focus {
    Background-color: #168200;
    border-radius: 12px;
    box-shadow: none;
}

#shopnavbuttoncontainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 50px;
    min-height: 400px;
    border-radius: 24px;
}

/* --end of css for shop container-- */

/* --css for footer-- */



/* --end of css for footer-- */

/* --start of sign in css */

#signinbutton {
    background-color: #80F30C;
    border: #80F30C;
    margin-top:25px;
    margin-left:135px;
}

#signinbutton:hover {
    background-color: #168200;
    border: #168200;
}

#signinbutton:focus {
    background-color: #168200;
    border: #168200;
    box-shadow: none;
}



/* --end of sign in css*/

/* --added text fonts-- */

.plexserif {
    font-family: 'IBM Plex Serif', serif;
}
.varela{
font-family: 'Varela Round', sans-serif;
}
.yanone{
font-family: 'Yanone Kaffeesatz', sans-serif;
}
.ubuntu{
font-family: 'Ubuntu Condensed', sans-serif;
}
.coda{
font-family: 'Coda', cursive;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

/* -- end of added text fonts-- */